#:schema https://json.schemastore.org/any.json

root = "."
testdata_dir = "testdata"
tmp_dir = "tmp"

[build]
  bin = "tmp\\main.exe"
  cmd = "go build -o ./tmp/main.exe ."  # Change if your main file is elsewhere
  delay = 1000
  exclude_dir = ["assets", "tmp", "vendor", "testdata", ".git"]
  include_ext = ["go", "tpl", "tmpl", "html"]
  kill_delay = "0s"

[log]
  time = false
  main_only = false
  silent = false

[misc]
  clean_on_exit = false

[screen]
  clear_on_rebuild = false
  keep_scroll = true